<p id="notice"><%= notice %></p>

<div class="article">
    <h2><%= @article.title %></h2>
    <p><%= simple_format(@article.article) %></p>
    <ul>
      <li><%= @article.created_at.strftime('%Y-%m-%d %H:%M:%S') %></li>
      <li>Category</li>
      <li>Comment</li>
      <li><%= link_to 'Show', @article %></li>
      <li><%= link_to 'Edit', edit_article_path(@article) %></li>
      <li><%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
</div>

<% unless @comments.blank? %>
    <% @comments.each do |comment| %>
      <div class="comment">
        <h2><%= comment.cmttitle %></h2>
        <p><%= simple_format(comment.comment) %></p>
        <ul>
          <li><%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %></li>
        </ul>
      </div>
    <% end %>
<% end %>

<ul class="page">
    <% if @page > 1 %>
      <li><%= link_to '前へ', { action: :show, page: @page - 1 } %></li>
    <% end %>
    <% if @page < @page_last %>
      <li><%= link_to '次へ', { action: :show, page: @page + 1 } %></li>
    <% end %>
    <% for i in 1..@page_last do %>
      <li><%= link_to i, { action: :show, page: i } %></li>
    <% end %>
</ul>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
