<div class="sub">
	<h2>Profile</h2>
	<%= image_tag "/docs/#{mem.id.to_s}-#{mem.created_at.to_s}-#{mem.photo}",
	  alt: 'image', width: 300, height: 400 %>
	<!-- <img src="" width="200" height="250" alt="photo"> -->
	<dl class="profile">
		<dt>Auther:</dt>
		<dd><%= mem.name %></dd>
		<dt>Birthday:</dt>
		<dd><%= mem.birthday %></dd>
		<dt>From:</dt>
		<dd><%= mem.comefrom %></dd>
		<dt>Interest:</dt>
		<dd><%= mem.interest %></dd>
	</dl>
		
	<% if @other.nil? %>
	<div class="text-center">
		<%= link_to 'プロフィール変更', edit_member_path(mem), class: "btn btn-primary" %>
	</div>
	<% end %>
</div><!-- .sub -->
			
<div class="sub">
	<h2>The latest article</h2>
	<% @articles5.each do |article| %>
		<ul>
    		<li><%= link_to article.title + '(' + article.created_at.strftime('%Y/%m/%d') + ')', article %></li>
    	</ul>
	<% end %>
</div><!-- sub -->

<div class="sub">
	<h2>Category</h2>
	<%= form_tag(controller: controller.controller_name, action: :category) do %>
	<div class="text-center">
		<%= select_tag('category', options_from_collection_for_select(@categorys, :category, :category)) %>
		<%= submit_tag '検索' %>
	</div>
	<% end %>
</div><!-- sub -->
			
<div class="sub">
	<h2>The past</h2>
	
	<% for i in 0..10 %>
		<% pasttime = i.month.ago
			past = pasttime.strftime('%Y-%m') %>
			<ul>
				<li><%= link_to past, action: :index, ym: past %></li>
			</ul>
	<% end %>
</div><!-- sub -->
