<!DOCTYPE html>
<html>
<head>
  <title>Myblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">

<!-- グローバルナビゲーション部分 -->
<div id="gnav">
	<ul>
		<li><%= link_to_unless_current '投稿作成', new_article_path %></li>
		<li><%= link_to_unless_current '過去の投稿', articles_path %></li>
		<li><%= link_to '他の人の投稿', members_path %></li>
	</ul>
</div>

<!-- ヘッダー部分 -->
<div id="header">
	<div class="inner">
		<h1>NO LOOK BLOG</h1>
	</div><!-- inner -->
</div><!-- #header -->

<!-- コンテンツ部分 -->
<div id="contents">

<!-- メイン部分 -->
<div id="main">
			
<%= yield %>

</div><!-- #main -->

<!-- サイド部分 -->
		<div id="side">
			<div class="sub">
				<h1>profile</h1>
				<%= image_tag "/docs/#{@mem.id.to_s}-#{@mem.created_at.to_s}-#{@mem.photo}",
				alt: 'image', width: 200, height: 250 %>
				<!-- <img src="" width="200" height="250" alt="photo"> -->
				<dl class="profile">
					<dt>Auther:</dt>
					<dd><%= @mem.name %></dd>
					<dt>Birthday:</dt>
					<dd><%= @mem.birthday %></dd>
					<dt>From:</dt>
					<dd><%= @mem.comefrom %></dd>
					<dt>interest:</dt>
					<dd><%= @mem.interest %></dd>
				</dl>
				<p><%= link_to 'プロフィール変更', edit_member_path(@mem) %></p>
			</div><!-- .sub & .profile -->
			<div class="sub">
			    <h1>the latest article</h1>
				<% @articles5.each do |article| %>
    			<p><%= link_to article.title + '(' + article.created_at.strftime('%Y/%m/%d') + ')', article %></p>
			    <% end %>
			</div><!-- sub -->
			<div class="sub">
				<h1>the latest comment</h1>
					<p>なんだか最近(2014/12/31)</p>
					<p>とうとうこの日がやってきた(2014/12/31)</p>
					<p>とうとうこの日がやってきた(2014/12/31)</p>
					<p>とうとうこの日がやってきた(2014/12/31)</p>
					<p>とうとうこの日がやってきた(2014/12/31)</p>
			</div><!-- sub -->
			<div class="sub">
				<h1>the past</h1>
					<% for i in 0..10 %>
						<% pasttime = i.month.ago
						   past = pasttime.strftime('%Y-%m') %>
						   <P><%= link_to past, action: :index, ym: past %></P>
					<% end %>
					
			</div><!-- sub -->
		</div><!-- side -->
	</div><!-- contents -->

<!-- フッター部分 -->
	<div id="footer">
		<div class="inner">
			
		</div><!-- inner -->
	</div><!-- footer -->

</div><!-- wrap -->



</body>
</html>
