<%= form_for(@member, :html => { :multipart => true } ) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p><%= flash['result'] %></p>

  <div id="profile">
  <table border="1">
    <tr>
      <th>名前</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>ブログタイトル</th>
      <td><%= f.text_field :blog_title %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <th>パスワード(確認)</th>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr>
      <th>誕生日</th>
      <td><%= f.date_select :birthday, start_year: 1915 %></td>
    </tr>
    <tr>
      <th>出身地</th>
      <td><%= f.text_field :comefrom %></td>
    </tr>
    <tr>
      <th>趣味</th>
      <td><%= f.text_field :interest %></td>
    </tr>
    <tr>
      <th>写真</th>
      <td><%= file_field_tag :photo %></td>
    </tr>
    
  </table>
  </div><!-- #profile -->
  <dl>
    <dt>agreement</dt>
    <dd><%= f.check_box :agreement %></dd>
  </dl>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
